absl-py==0.9.0
admesh==0.98.5
annoy==1.12.0
astor==0.6.2
attrs==19.3.0
backports.weakref==1.0rc1
beautifulsoup4==4.4.1
bleach==1.5.0
boto==2.48.0
boto3==1.7.3
botocore==1.10.3
bz2file==0.98
cachetools==4.0.0
certifi==2018.1.18
chardet==3.0.4
command-not-found==0.3
cycler==0.10.0
Cython==0.23.4
decorator==4.3.0
defer==1.0.6
defusedxml==0.6.0
Django==1.11.5
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
fail2ban==0.9.3
fastdtw==0.3.2
future==0.16.0
futures==3.1.1
gast==0.2.2
gensim==3.4.0
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.11.0
h5py==2.8.0
html5lib==0.9999999
idna==2.6
importlib-metadata==0.23
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
json5==0.8.5
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==1.2.2
jupyterlab-server==1.0.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
language-selector==0.1
ldap3==1.0.3
lxml==3.5.0
Markdown==2.6.9
MarkupSafe==1.0
matlabengineforpython===R2017a
matplotlib==3.0.3
missingno==0.4.0
mistune==0.8.3
more-itertools==7.2.0
munkres==1.0.12
mysql-connector==2.1.6
mysql-connector-python==8.0.18
mysql-connector-python-rf==2.2.2
nbconvert==5.6.1
nbformat==4.4.0
NetLSD==1.0.2
networkx==2.1
nltk==3.4.5
nose==1.3.7
notebook==6.0.2
numpy==1.17.3
oauthlib==3.1.0
opt-einsum==3.1.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.1.1
pathlib==1.0.1
pep8==1.7.0
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.4.1
pip-autoremove==0.9.1
POT==0.6.0
prometheus-client==0.7.1
prompt-toolkit==1.0.18
protobuf==3.11.2
ptyprocess==0.5.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycups==1.9.73
pycurl==7.43.0
pyflakes==1.1.0
Pygments==2.2.0
pygobject==3.20.0
pyinotify==0.9.6
pyparsing==2.0.3
pyrsistent==0.15.5
python-apt==1.1.0b1+ubuntu0.16.4.9
python-dateutil==2.8.1
python-debian==0.1.27
python-louvain==0.10
python-systemd==231
pytz==2019.3
pyviennacl==1.0.2
pyxdg==0.25
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
s3transfer==0.1.13
scikit-image==0.10.1
scikit-learn==0.19.1
scipy==1.4.1
screen-resolution-extra==0.0.0
seaborn==0.9.0
Send2Trash==1.4.2
simplegeneric==0.8.1
sinkhorn-knopp==0.2
six==1.13.0
sklearn==0.0
smart-open==1.5.7
sparsesvd==0.2.2
ssh-import-id==5.5
system-service==0.3
tensorboard==2.1.0
tensorboardX==1.6
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-gpu==1.2.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.4
torch==1.1.0
tornado==6.0.3
traitlets==4.3.2
ufw==0.35
unattended-upgrades==0.1
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.1.3
wrapt==1.11.2
xgboost==0.7.post3
xkit==0.0.0
zipp==0.6.0
